body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.hero{
    background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url(../assets/bg.jpg) center / cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 70vh;
}
.btn-primary{
    background-color: #8528fe;
    border-color: #8528fe;
}
.btn-primary:hover{
    background-color: #7a17fc;
    border-color: #7a17fc;
}
.card-img-top{
    object-fit: cover;
    aspect-ratio: 1/0.8;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
}